.item {

    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid black;  
}

.btn-primary {

margin-right: 10px;
margin-top: 10px;
font-family: 'Montserrat', sans-serif;


}

#gif-form {

margin-top: 10px;

}

body {

background-image: url("../images/background.png");

}

.item {

background-color: white;
font-family: 'Montserrat', sans-serif;


}

h1 {

    font-family: 'Bungee Inline', cursive;
    font-size: 40pt;
    color: red;


}

h3 {

    font-family: 'Montserrat', sans-serif;

}

h4 {


    font-family: 'Montserrat', sans-serif;

}

#car-make {

    font-family: 'Montserrat', sans-serif;



}

#add-car {

    font-family: 'Montserrat', sans-serif;



}