.item {

    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid black;  
}

.btn-primary {

margin-right: 10px;
margin-top: 10px;
}

#gif-form {

margin-top: 10px;

}

body {

background-image: url("../images/topography.png");

}

.item {

background-color: white;

}
